@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  /* ==========================================================================
     PALET WARNA UTAMA APLIKASI (THEME COLORS)
     Ubah nilai HEX di bawah ini untuk mengganti warna tema seluruh aplikasi.
     ========================================================================== */
  --color-primary-50: #EEF2FF;
  --color-primary-100: #E0E7FF;
  --color-primary-200: #C7D2FE;
  --color-primary-300: #A5B4FC;
  --color-primary-400: #818CF8;
  --color-primary-500: #6366F1;
  --color-primary-600: #4F46E5;
  --color-primary-700: #4338CA;
  --color-primary-800: #3730A3;
  --color-primary-900: #312E81;
  --color-primary-950: #1E1B4B;

  --color-brand-50: var(--color-primary-50);
  --color-brand-100: var(--color-primary-100);
  --color-brand-200: var(--color-primary-200);
  --color-brand-300: var(--color-primary-300);
  --color-brand-400: var(--color-primary-400);
  --color-brand-500: var(--color-primary-500);
  --color-brand-600: var(--color-primary-600);
  --color-brand-700: var(--color-primary-700);
  --color-brand-800: var(--color-primary-800);
  --color-brand-900: var(--color-primary-900);
  --color-brand-950: var(--color-primary-950);
}
